## Workflow for Amazon clone docker image Build and Push

name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build . \
          --file Docker/Dockerfile \
          --tag ${{ secrets.DOCKER_USERNAME }}/amazon-clone:latest
  push:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/amazon-clone:latest
